*{padding: 0px;
margin: 0px;
box-sizing: border-box;}
body{color: #959595;}

header{width: 100%;}

nav{
    width: 90%;
    margin: 0px auto;
    display: flex;
    /* border: 1px solid; */
    height: 50px;
    justify-content: space-between;
}
nav ul{list-style: none;display: flex;}
nav li{padding: 15px 10px;}
nav li:hover{background-color:lightgray;color: black;}
nav .logo{padding: 13px 10px;}

.poster{
    background-image: url('../images/light_bulb.jpg');
    background-size: cover;
    width: 100%;
    height: 280px;
    color: white;
    padding: 100px 0px 0px 100px;
}
.poster button{background-color: orange;color: white;padding: 10px;border-radius: 5px;}
.poster h1,h3,button{margin-bottom: 20px;}
.text div{width: 80%;margin: 0px auto;}
.text h1{color: #dd845a;text-align: center;margin: 20px 0px;font-size: 40px;}
.text p{text-align: center;line-height: 1.5;margin-bottom: 20px;}
.products{display: flex;width: 100%;}
.products .images{flex-grow: 1;}
.products img{width: 100%;height: 200px;}
.product-section .cards{width:90%;display: flex;gap: 20px;margin: 0px auto;}
.product-section .card{flex-grow: 1;border: 1px solid;padding: 5px;border-radius: 5px;}
.card img{width: 100%;}
.card h3{margin: 20px 0px;}
.input input,.input button{display: block;width: 50%;height: 40px;}
.input button{border: none;background-color: orange;}
.input input{border-right: none;}
.input {display: flex;}